* {
    padding: 0em;
    margin: 0em;
}

:root {
    --bgcolor: #050B1F;
    --txtcolor: #fff;
    --linkcolor: #fff;
    --visitedcolor: #66A512;
    --bread_bgcolor: #AFEB60;
    --bread_txtcolor: #000;
    --iconcolor: #BDBDBD;
    --data_bgcolor: #fff;
    --bread_visitedcolor: #761A70;
}

html, body {
    font-size: 100%;
    font-family: Roboto, sans-serif;
    line-height: 1.5em;
}

body {
    background-color: #050B1F;
    color: var(--txtcolor);
}

/* Aiuti alla navigazione */
.helpNav {
    position: absolute;
    text-indent: -999em;
}

.helpNav:focus {
    position: static;
    text-indent: 0em;
}

.helpList li {
    display: inline;
}

/* Menu di navigazione */
#menu {
    background-color: var(--bgcolor);
    padding: 1em 0em 1em 1em;
    color: var(--txtcolor);
}

#menu li {
    display: inline;
    padding-left: 3em;
}

/* Header */
header h1{
    background: 
        linear-gradient(0deg, rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)),
        url("../images/arena.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    line-height: 10em;
    margin-top: 0.3em;
    text-align: center;
}

h1 {
    color: var(--bread_bgcolor);
}

/* Breadcrumb */
#breadcrumb {
    background-color: var(--bread_bgcolor);
    color: var(--bread_txtcolor);
    padding: 0.5em 0em 0.5em 1em;
}

#breadcrumb a:link {
    color: var(--linkcolor);
}

#breadcrumb a:visited {
    color: var(--bread_visitedcolor);
}

/* Contenuto */
a {
    color: var(--linkcolor);
}

a:visited {
    color: var(--visitedcolor);
}

article, section {
    margin-bottom: 1em;
}

.icons {
    width: 3em;
}

#contenuto {
    margin-top: 0.5em;
    padding: 1em 2em 1em 2em;
}

/* Footer */
footer {
    padding-left: 1em;
}

footer>dl>dt {
    color: var(--bread_bgcolor);
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 0.5em;
}

footer ul {
    list-style-type: none;
}

.contatti dt {
    float: left;
    margin-right: 0.3em;
}

.contatti dt::after {
    content: ": ";
}

/* index.html */
#descr h2{
    color: var(--bread_bgcolor);
}

#descr ul {
    list-style-type: none;
}

#storia h2, #mezzi h2{
    color: var(--bread_bgcolor);
    text-align: right;
    padding: 0.5em 0em 0.5em 0em;
    border-top: 2px solid;
    border-image: linear-gradient(to left, var(--bread_bgcolor) 50%, transparent 50%) 100% 1;
}

#storia span {
    font-size: 3em;
    font-weight: bold;
    float: right;
    margin: 0.5em;
}

#mezzi {
    text-align: right;
}
#mezzi dt {
    position: relative;
    font-weight: bold;
    margin-top: 3.5em;
    padding-top: 0.5em;
    border-top: 1px solid;
    border-image: linear-gradient(to left, var(--bread_bgcolor) 20%, transparent 20%) 40% 1;
}

#mezzi dt>img {
    position: absolute;
    top: -3em;
    right: 6em;
}


/* listaEventi.html */
.evento {
    padding: 1em;
    text-align: right;
    background: 
        linear-gradient(0deg, rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)),
        url("../images/arena.jpg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0.5em;
    margin-bottom: 1.5em;
}

.evento h2 {
    font-size: 1.5em;
}

.evento ul {
    list-style-type: none;
}

/* evento.html */
#main {
    padding-bottom: 1em;
    border-bottom: 10px solid var(--bread_bgcolor);
    margin-bottom: 1em;
}

#main h1 {
    float: right;
}

#main button {
    padding: 0.5em;
    font-size: 0.9em;
    border-radius: 2em;
    margin-top: 0.5em;
    margin-right: 0.5em;
    text-transform: uppercase;
}

#main button:nth-of-type(1) {
    background-color: var(--bread_bgcolor);
}

.data {
    display: inline-block;
    text-align: center;
    margin-left: 1em;
}

.data ul{
    background-color: var(--data_bgcolor);
    color: var(--bread_txtcolor);
    padding: 0.5em;
    max-width: 70px;
    min-height: 20px;
    margin: 0.5em 0.5em 1em 0.5em;
    list-style: none;
}

.data ul li:nth-of-type(2) {
    font-size: 2em;
    font-weight: bold;
}

.data span {
    font-size: 2.5em;
    font-weight: bold;
}

#programma h2, #features h2 {
    padding: 0.5em 0em 0.5em 0em;
    border-top: 2px solid;
    border-image: linear-gradient(to right, var(--bread_bgcolor) 25%, transparent 25%) 50% 1;
}

#programma dt::after {
    content: ": ";
}

#programma dt {
    float: left;
    margin-right: 0.3em;
}

#programma dd {
    font-weight: bold;
}

#info, #faq {
    text-align: right;
    list-style-position: inside;
}

#info h2, #faq h2 {
    padding: 0.5em 0em 0.5em 0em;
    border-top: 2px solid;
    border-image: linear-gradient(to left, var(--bread_bgcolor) 25%, transparent 25%) 50% 1;
}