* {
    padding: 0em;
    margin: 0em;
}

:root {
    --bgcolor: #050B1F;
    --txtcolor: #fff;
    --linkcolor: #fff;
    --visitedcolor: #66A512;
    --bread_bgcolor: #AFEB60;
    --iconcolor: #BDBDBD;
    --content_bgcolor: #fff;
    --content_txtcolor: #000;
    --bread_visitedcolor: #761A70;
}

html, body {
    font-size: 100%;
    font-family: Roboto, sans-serif;
    line-height: 1.5em;
}

body {
    background-color: #050B1F;
    color: var(--txtcolor);
}

/* Aiuti alla navigazione */
.helpNav {
    position: absolute;
    text-indent: -999em;
}

.helpNav:focus {
    position: static;
    text-indent: 0em;
}

.helpList li {
    display: inline;
}

/* Menu di navigazione */
#menu {
    background-color: var(--bgcolor);
    padding: 1em 0em 1em 1em;
    color: var(--txtcolor);
}

#menu li {
    display: inline;
    padding-left: 3em;
}

/* Header */
header h1{
    background: 
        linear-gradient(0deg, rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)),
        url("../images/arena.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    line-height: 10em;
    margin-top: 0.3em;
    text-align: center;
    color: var(--bread_bgcolor);
}

/* Breadcrumb */
#breadcrumb {
    background-color: var(--bread_bgcolor);
    color: var(--content_txtcolor);
    padding: 0.5em 0em 0.5em 1em;
}

#breadcrumb a:link {
    color: var(--linkcolor);
}

#breadcrumb a:visited {
    color: var(--bread_visitedcolor);
}

/* Contenuto */
a {
    color: var(--linkcolor);
}

a:visited {
    color: var(--visitedcolor);
}

.icons {
    width: 3em;
}

#contenuto {
    margin-top: 0.5em;
}

article {
    padding: 1em;
}

/* Footer */
footer {
    padding-left: 1em;
}

footer>dl>dt {
    color: var(--bread_bgcolor);
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 0.5em;
}

footer ul {
    list-style-type: none;
}

.contatti dt {
    float: left;
    margin-right: 0.3em;
}

.contatti dt::after {
    content: ": ";
}

/* index.html */
#descr h2{
    color: var(--bread_bgcolor);
}

#descr ul {
    list-style-type: none;
}

#storia {
    background-color: var(--content_bgcolor);
    color: var(--content_txtcolor);
}

#storia h2 {
    color: var(--bgcolor);
}

#mezzi {
    background-color: var(--content_bgcolor);
    color: var(--content_txtcolor);
}

/* listaEventi.html */
.evento {
    padding: 1em;
    text-align: right;
}

.evento h2 {
    font-size: 1.5em;
}

.evento ul {
    list-style-type: none;
}

/* evento.html */